body
{

}

#map
{
  width: 100%;
  height: 800px; 
}

#searchText
{
  margin-top: 5px;
}

.searchResultsLine:hover
{
  color : #888888;
  cursor: pointer;
}

#searchResults
{
  margin-bottom: 7px;
}

#loadingBar
{
  text-align: center;
  background-color: #bbbbbb;
  display: none;
}

#loadingBar h3
{
  padding: 5px;
}

.my-leaflet-control {
  width: 200px;
  height: 200px;
}

.predifinedElement
{
  margin-left: 5px;
  margin-right: 5px;
}

.predifinedElement:hover
{
  color : #888888;
  cursor: pointer;
}